/*Variables colores*/
$colornav: #c7beb1;
$colbtnnav: #272623;
$bgvariedades: #181818;
$bgsecvariedades: #beb1c7;
/*Variables colores*/
/*Inicio Index*/
.parallax {
    background-image: url("../assets/img/cafeweb.jpg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
h1.inicio.animate__animated.animate__backInDown.text-center {
    color: black;
}
/*Fin Index*/
/*extend botones*/

.btn {
  width:250px;
  text-align:center;
  color:black;
  border-radius:10px;
  border:1px solid black;
  box-shadow: 2px -1px 4px rgba(255,255,255, 0.8);

}

.btn--carrousel{
  @extend .btn;
  background-color:green;
  color:black;
}

.btn--card{
  @extend .btn;
  background-color:red;
  color:black;
}

/*Comienzo carrusel*/
.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}

.carousel-indicators .active {
    background-color: rgb(99, 91, 59);
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}
.card-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
/*Fin carrusel*/

/*Inicio Card MIXIN*/

@mixin tamañoImagen($mar,$pad){
    margin:$mar;
    padding:$pad;
}

.card-img-top{
@include tamañoImagen(0em,1em);}

@media only screen and (min-width: 576px) {
.card-body{max-height: 250px;
  min-height: 250px;
  width: 100%;
}
.btn.btn-sm.btn-outline-secondary {color: #beb1c7;}
.card-text{}
  }
/* FIN MIXIN*/



.card { 
  font-size: 1em;
  overflow: hidden;
  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
  background: #222222;
  }   
.title {color: #fff;}

/*Inicio Card MIXIN*/
/*Inicio Variedades*/
/*APLICANDO MAPGET*/
$mapvariedades: (
  colorbgprimario: $bgvariedades,
  centro: justify,
  pfuente: 15px,
  font-family: 'Roboto',
  1rem : 1rem,
  colorbgsecundario:    $bgsecvariedades,
  fuente: italic,
  redondeado: 2.28571429rem,
  redondeadoimg: 6rem,
  sombras: 0 5px 1px 0 #4b3300,
  ancho: 100%
  );

.estilovariedades {
  background-color: none;
  position: center;
  border-radius:map-get($mapvariedades, redondeadoimg);
         p {
          background-color: map-get($mapvariedades, colorbgprimario);
          text-align: map-get($mapvariedades, centro);
          padding-top: map-get($mapvariedades, 1rem);
          font-size:map-get($mapvariedades, pfuente);
          font-weight:map-get($mapvariedades, fuente);
          border-radius:map-get($mapvariedades, redondeado);
          box-shadow:map-get($mapvariedades, sombras); 

    
}}
h2 {padding-top: 10px;
color: #ffff;
text-shadow: 5px 5px 10px #ffff;}
@media only screen and (min-width: 0px) and (max-width: 576px) {
  .estilovariedades {
    width: 100%; } }

@media only screen and (min-width: 576px) and (max-width: 1800px) {
    .estilovariedades {
    width:100%;
    align-items: center;
    justify-content: center;
    }
}

.row {
margin:0px;
align-items: center;;
}


table {
    background-image:  url("../assets/img/tabla.jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
font-size: 16px;
line-height: 0px;
box-shadow: 10px 10px 3px #fff;
}

@media only screen and (min-width: 0px) and (max-width: 576px){}
table {
  background-image:  url("../assets/img/tabla.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
font-size: 8px;
line-height: 10px;
box-shadow: 10px 10px 3px #fff;
}


/*Fin Variedades*/