/*Variables colores*/
$colornav: #c7beb1;
$colbtnnav: #272623;
$bgvariedades: #181818;
$bgsecvariedades: #beb1c7;
/*Variables colores*/
/*Inicio Index*/
.parallax {
    background-image: url("../assets/img/cafeweb.jpg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
h1.inicio.animate__animated.animate__backInDown.text-center {
    color: black;
}
/*Fin Index*/
/*extend botones*/

.btn {
  width:150px;
  text-align:center;
  color:black;
  border-radius:10px;
  border:1px solid black;
  box-shadow: 2px -1px 4px rgba(255,255,255, 0.8);
}

.btn--carrousel{
  @extend .btn;
  background-color:green;
  color:black;
}

.btn--card{
  @extend .btn;
  background-color:red;
  color:black;
}

/*Comienzo carrusel*/
.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}

.carousel-indicators .active {
    background-color: rgb(99, 91, 59);
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}

/*Fin carrusel*/

/*Inicio Card MIXIN*/

@mixin tamañoImagen($mar,$pad){
    margin:$mar;
    padding:$pad;
}

.card-img-top{
@include tamañoImagen(0em,1em);}

/* FIN MIXIN*/

.card-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.card { font-size: 1em;
    overflow: hidden;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
    margin: 20px;
    background: #222222;
    display: flex;
    justify-content: center;
    
    }   

.card-boddy {display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*Inicio Card MIXIN*/
/*Inicio Variedades*/
/*APLICANDO MAPGET*/
$mapvariedades: (
  colorbgprimario: $bgvariedades,
  centro: center,
  pfuente: 16px,
  font-family: 'Roboto',
  1rem : 1rem,
  colorbgsecundario:    $bgsecvariedades,
  fuente: bold,
  redondeado: .28571429rem,
  sombras: 0 1px 3px 0 #d4d4d5,
  ancho: 100%
  );

.estilovariedades {
  background-color: none;
  position: center;

         p {
          background-color: map-get($mapvariedades, colorbgprimario);
          text-align: map-get($mapvariedades, centro);
          padding-top: map-get($mapvariedades, 1rem);
          font-size:map-get($mapvariedades, pfuente);
          font-weight:map-get($mapvariedades, fuente);
          border-radius:map-get($mapvariedades, redondeado);
          box-shadow:map-get($mapvariedades, sombras); 

    
}}

@media only screen and (min-width: 0px) and (max-width: 576px) {
  .estilovariedades {
    width: 100%; } }

@media only screen and (min-width: 576px) and (max-width: 1800px) {
    .estilovariedades {
    width:100%;
    align-items: center;
    justify-content: center;
    }
}

.row {
margin:0px;
align-items: center;;
}


table {
    background-image: url("../assets/img/cafe.jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;}


/*Fin Variedades*/