@import 'scss/colores';
@import 'scss/navbar';
@import 'scss/metodos';
@import 'scss/variedades';
@import 'scss/index';
@import 'scss/estilocarousel';
@import 'scss/buttons';
@import 'scss/cards';
@import 'scss/nosotros';
@import 'scss/footer';

* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	}

 
